# Ignore environment files
.env

# Ignore node modules
node_modules/

# Ignore log files
*.log

# Ignore package lock files
package-lock.json

# Ignore other sensitive files or system files
.DS_Store
Thumbs.db
